*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    
}
.overall{
    padding: 30px;
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('./sunnyside-agency-landing-page-main/images/desktop/image-header.jpg');
}
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navs{
    
}
.navs ul{
    display: flex;
    gap: 30px;
    align-items: center;
}
.navs li{
    list-style: none;
    color: #fff;
}
.btn1{
    padding: 5px 10px 5px 10px;
    border-radius: 20px;
    border: none;
}
.creative{
    text-align: center;
    margin-top: 80px;
}
.h1{
    font-size: 45px;
    letter-spacing: 10px;
    margin-bottom: 40px;
    color: #fff;
}
.img1{
    width: 30px;
    
}
.grid1{
    display: grid;
    grid-template-columns: 50% 50%;
    overflow-y: hidden;
}
.subgrid1{
    text-align: left;
    padding-left: 90px;
}
.h2{
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 25px;
}
.p1{
    margin-bottom: 20px;
    line-height: 30px;
}
.Transform img{
    width: 100%;
}
.grid2{
    display: grid;
    grid-template-columns: 50% 50%;
}

.stand img{
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}
.subgrid2{
    text-align: left;
    padding-left: 90px;
}
.h3{
    margin-top: 100px;
    font-size: 25px;
    margin-bottom: 20px;
}
.p2{
    line-height: 30px;
    margin-bottom: 20px;
}
.grid3{
    display: grid;
    grid-template-columns: 50% 50%;
}
.graphic{
    /* width: 147%; */
    height: 70vh;
    text-align: center;
    align-items: baseline;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('./sunnyside-agency-landing-page-main/images/desktop/image-graphic-design.jpg');
}
.p3{
    margin-top: 290px;
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 15px;
}
.photo{
    /* width: 57%; */
    height: 70vh;
    text-align: center;
    align-items: baseline;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('./sunnyside-agency-landing-page-main/images/desktop/image-photography.jpg');
}
.testimony{
    background-color: hsl(50, 88%, 93%);
    padding-bottom: 60px;
}
.h4{
    text-align: center;
    padding-top: 100px;
    margin-bottom: 40px;
}
.grid4{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 15px;
    width: 80%;
    margin: auto;
    margin-bottom: 60px;
    margin-top: 70px;
}
.g1{
    text-align: center;
}
.etj{
    width: 30%;
    border-radius: 50%;
    margin-bottom: 25px;
}
.ps{
    font-size: 14px;
    margin-bottom: 40px;
}
.pss{
    font-weight: 800;
    margin-bottom: 10px;
}
.grid5{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.grid5 img{
    width: 100%;
   
}
.footer{
    text-align: center;
    padding: 30px;
    background-color: hsl(168, 34%, 41%);
}
.h7{
    color: hsl(165, 38%, 20%);
    margin-bottom: 20px;
}
.nav2 ul{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 30px;
}
.nav2 li{
    list-style: none;
}
.sc{
    padding-right: 15px;
}
.ham{
    display: none;
}
.btn2{
    margin-bottom: 50px;
}
.btn3{
    margin-bottom: 50px;
}
@media (max-width: 768px) {
    .navs{
        display: none;
    }
    .ham{
        display: flex;
    }
    .grid1{
        display: flex;
        flex-direction: column-reverse;
        grid-template-columns: 50% 50%;
        overflow-y: hidden;
    }
    .subgrid1{
        text-align: center;
        padding-left: 0px;
    }
    .grid2{
        display: block;
        grid-template-columns: 50% 50%;
    }
    .grid3{
        display: block;
        grid-template-columns: 50% 50%;
    }
    .graphic{
        /* width: 147%; */
        height: 70vh;
        text-align: center;
        align-items: baseline;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('./sunnyside-agency-landing-page-main/images/desktop/image-graphic-design.jpg');
    }
    .p3{
        padding-top: 250px;
        margin-top: 0px;
        font-size: 20px;
        font-weight: 800;
        margin-bottom: 15px;
    }
    .subgrid2{
        text-align: center;
        padding-left: 0px;
    }
    .grid4{
        display: block;
        grid-template-columns: auto auto auto;
        gap: 15px;
        width: 80%;
        margin: auto;
        margin-bottom: 60px;
        margin-top: 70px;
    }
    .etj{
        width: 30%;
        border-radius: 50%;
        margin-bottom: 25px;
        margin-top: 60px;
    }
    .grid5{
        display: grid;
        grid-template-columns: auto auto;
    }
    .grid5 img{
        width: 100%;
       
    }
}